body {
    font: 'Raleway', sans-serif;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
    background: linear-gradient(to left, green, #00FFFF);
}

h1 {
    font: 600 3.4em 'Raleway', sans-serif;
    color: rgba(0, 0, 0, .5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
}

p {
    font-size: 1.3em;
}

h3 {
    font: 900 1em 'Raleway', sans-serif;
    color: rgba(0, 0, 0, .5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;
    opacity: 0.8;
    font-size: 0;

}

button {
    font: 0.7em 'Raleway', sans-serif;
    color: rgba(0, 0, 0, .8);
    border-radius: 30px;
    border: 0.1px solid black;
    padding: 15px;
}

.underColours {
    background: rgba(0, 0, 0, 1);
    border: 0px;
    background-color: gray;
    border-radius: 30px;
    padding: 0.9em;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: -75px;
    margin-top: px;
    width: 79px;
    height: 20px;
    cursor: pointer;
}

.test {
    position: relative;
    margin-bottom: -23px;

}

#overlapL,
#overlapR {
    font: 70 1em 'Raleway', sans-serif;
    color: rgba(0, 0, 0, .8);
    border-radius: 30px;
    border: 0.2px solid gray;
    padding: 0.8em;
    margin-top: -9.5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: -3px;
    position: relative;
    width: 103px;
    height: 45px;
    pointer-events: none;

}

#random {
    font: 150 1em 'Raleway', sans-serif;
    padding: 0.6em;
    border: 0.2px solid gray;
    width: 135px;
    text-align: center;
    height: 50px;
    cursor: pointer;
}

#dice {
    vertical-align: middle;
}

.emphasized {
    font: 520 1.45em 'Raleway', sans-serif;
}

#copyL,
#copyR,
#copyG {
    font: 300 1.2em 'Raleway', sans-serif;
    border-radius: 0px;
    width: 75px;
    height: 75px;
    text-align: center;
    cursor: pointer;
}

h6 {
    font: 900 1em 'Raleway', sans-serif;
    color: rgba(0, 0, 0, .4);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;
    opacity: 0.8;
    font-size: 6;
    margin-top: -17.5px;
}

#hex_text {
    margin-bottom: 7.5px;
}

.upper_container {
    margin-top: -5px;
    margin-right: 6px;
}

.text_container {
    padding: -10px;
    margin-top: -15px;
}

.middle_container {
    padding: 30px;
    margin-top: 10px;
}

.colours_container {
    background-color: rgba(0, 0, 0, 0.25);
    border: 0.1px solid black;
    width: 300px;
    margin: 0 auto;
    margin-top: -27.5px;
}

.bottom_container {
    padding: 25px;
}

button:hover {
    transform: scale(1.05);
    transition: 1.8s;
}

.input1,
.input2 {
    padding: 0.5em;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    border: solid 0.3px black;
    margin-bottom: 15px;
    opacity: 0.85;
    text-align: center;

}

::placeholder {
    color: white;
}